<wrapper class="group">
  <!-- <splash id="splash"></splash> -->
  <header id="header">Initial header html from root.html.erb</header>
  <main id="content">Hello, world!</main>
  <footer id="footer">Initial footer html from root.html.erb</footer>
</wrapper>


<script>
$(document).ready(function(){
  Brewcleus.initialize();
});


</script>
