<wrapper class="group">
  <!-- <splash id="splash"></splash> -->
  <header id="header">Initial header html from root.html.erb</header>
  <hr>  <!-- for visibility purposes during development -->
  <main id="content">Hello, world!</main>
  <hr>  <!-- for visibility purposes during development -->
  <footer id="footer">Initial footer html from root.html.erb</footer>
</wrapper>


<script>
$(document).ready(function(){
  Brewcleus.initialize();
  Brewcleus.nounprojectuser = "<%= asset_path 'nounprojectuser.png'%>"
});


</script>
