<img src="<%= Brewcleus.logo %>"
  height="200px"
  width="200px"
  display='block'> <!-- will de-inline soon -->
<h1>Brewcleus</h1>
<% if(Brewcleus.currentUser.isSignedIn()){ %>
  <greeting>Signed in as <%= Brewcleus.currentUser.escape("username") %></greeting>
  <a id="sign-out-link" href="#">Sign Out</a>
<% }else{ %>
  <a id="sign-in-link" href="#/session/new">Sign in</a>
<% } %>
