<form>

  <label class="group">
    Amount
    <input type="text"
      name="amount"
      id="input-recipe-ingredient-amount">
  </label>

  <label class="group">
    Units
    <input type="text"
      name="units"
      id="input-recipe-ingredient-units">
  </label>

  <label class="group">
    Ingredient Name
    <input type="text"
      name="ingredient_name"
      id="input-recipe-ingredient-ingredient-name">
  </label>

  <button>Add Ingredient</button>

</form>
