<!DOCTYPE html>
<html>
<head>
  <title>brewcleus</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <style>
    ul.ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .ui-menu-item{
      color: red;
      list-style: none;
    }
    .ui-menu-item:hover{
      background: blue;
      cursor: default;
    }

  </style>
</head>
<body>

<%= yield %>

</body>
</html>
